<div id="tileContainer" class="panel panel-default tileContainer horizontal">
    <div class="row tile">

        <div class="col-xs-6 tile">
            <div class="panel panel-info">
                <div class="panel-heading tile">Updates</div>
                <div class="panel-body tile">
                    Update news goes here
                </div>
            </div>
        </div>

        <div class="col-xs-6 tile">
            <div class="panel panel-info">
                <div class="panel-heading tile">Something</div>
                <div class="panel-body tile">
                    Something goes here
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 tile">
            <div class="panel panel-info">
                <div class="panel-heading tile">Map</div>
                <div class="panel-body tile">
                    Map goes here
                </div>
            </div>
        </div>

    </div>
</div>